<div class="form-container">
    <h2>Seller Login</h2>
    <form (ngSubmit)="login()" [formGroup]="sellerLoginForm">
      <label for="email">Username (Email):</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="sellerLoginForm.get('email')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerLoginForm.get('email')?.hasError('email')" class="error-message">* Invalid email</div>
    
      <label for="createPassword">Password:</label>
      <input type="password" id="createPassword" formControlName="createPassword" />
      <div *ngIf="sellerLoginForm.get('createPassword')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerLoginForm.get('createPassword')?.hasError('minlength')" class="error-message">* Minimum 8 characters</div>
    
      <div class="button-container">
        <button type="submit">Login</button>
      </div>
    </form>
    <div class="additional-details">
      <div class="forget-password">
        <a href="forgotpasswordseller">Forget Password?</a>
      </div>
      <div class="signup-link">
        Don't have an account?  <a routerLink="/seller-registration">Sign Up</a>
      </div>
    </div>
  </div>
  