<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Shipping Details</h2>
        <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter your full name" formControlName="fullName">
            <div *ngIf="shippingForm.get('fullName')?.hasError('required') && shippingForm.get('fullName')?.touched" class="text-danger">
              Full Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter your address" formControlName="address">
            <div *ngIf="shippingForm.get('address')?.hasError('required') && shippingForm.get('address')?.touched" class="text-danger">
              Address is required.
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter your city" formControlName="city">
            <div *ngIf="shippingForm.get('city')?.hasError('required') && shippingForm.get('city')?.touched" class="text-danger">
              City is required.
            </div>
          </div>
          <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" id="postalCode" placeholder="Enter your postal code" formControlName="postalCode">
            <div *ngIf="shippingForm.get('postalCode')?.hasError('required') && shippingForm.get('postalCode')?.touched" class="text-danger">
              Postal Code is required.
            </div>
            <div *ngIf="shippingForm.get('postalCode')?.hasError('pattern') && shippingForm.get('postalCode')?.touched" class="text-danger">
              Please enter a valid postal code (5 digits).
            </div>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary" (click)="payment()">Procced To Payment</button>
          </div>
        </form>
      </div>
    </div>
  </div>