<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Payment</h2>
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="paymentMethod">Select Payment Method</label>
            <select class="form-control" id="paymentMethod" formControlName="paymentMethod">
              <option value="" disabled>Select a payment method</option>
              <option value="upi">UPI</option>
              <option value="netBanking">Net Banking</option>
            </select>
            <div *ngIf="paymentForm.get('paymentMethod')?.hasError('required') && paymentForm.get('paymentMethod')?.touched" class="text-danger">
              Payment Method is required.
            </div>
          </div>
 
          <div *ngIf="paymentForm.get('paymentMethod')?.value === 'upi'">
            <div class="form-group">
              <label for="upiId">UPI ID</label>
              <input type="text" class="form-control" id="upiId" placeholder="Enter your UPI ID" formControlName="upiId">
            </div>
          </div>
 
          <div *ngIf="paymentForm.get('paymentMethod')?.value === 'netBanking'">
            <div class="form-group">
              <label for="netBankingUsername">Username</label>
              <input type="text" class="form-control" id="netBankingUsername" placeholder="Enter your Net Banking username" formControlName="netBankingUsername">
            </div>
            <div class="form-group">
              <label for="netBankingPassword">Password</label>
              <input type="password" class="form-control" id="netBankingPassword" placeholder="Enter your Net Banking password" formControlName="netBankingPassword">
            </div>
          </div>
          <br>
         
 
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>